
#section1{
  line-height:75px;
  background-color:red;
}
#section2{
  line-height: 150px;
  background-color: turquoise;
}
#section3{
  line-height: 125px;
  background-color: violet;
}
#section4{
  line-height: 125px;
  background-color: thistle;
}
#section5{

  line-height: 250px;
  background-color: yellow;
  width: 240px;
}
#section6{
 
  line-height:250px ;
  background-color: salmon;
  width: 240px;
}
#section7{

  line-height: 250px;
  background-color: aqua;
  width: 240px;
}
#section8{
  line-height: 250px;
  background-color: springgreen;
  width: 240px;

}
#section9{
  line-height: 80px;
  background-color: brown;

}