@import 'base.css';
@import 'layout.css';
@import 'module.css';

@media (min-width:768px) and (max-width:960px){
  * {
    box-sizing: border-box;
    width: 100%;
  }
  body{

    background-color: silver;
    border: black,960px;
    
  }
  section{
    width: 960px;
    
  }
  #div5 section{
    padding: 0px;
    margin-left: -3px;
    display: inline-block;
  }
  
  #div3 section{
    display: inline-block;
  }
  #div4 section{
    display: inline-block;
  
  }
  #div1 section #div2 section{
    display: inline-block;
  }
  div section{
    display: inline-block;
    
  }
  #section1{

    line-height: 100px;
    width: 960px;
    background-color:yellow;
  
  }
  #section2{
    
    line-height: 600px;
    width: 200px;
    background-color:orange;
    float: left;
  }
  #section3{

    line-height: 200px;
    width: 380px;
    background-color: red;
    
  }
  #section4{

    line-height: 200px;
    width: 380px;
    background-color:orange;
    float: right;
  }
  
  #section5{
    
    line-height: 250px;
    width:190px;
    background-color: pink;
    
  }
  #section6{
  
    line-height: 250px;
    width: 190px;
    background-color:orange;

    
  }
  #section7{
    
    line-height: 250px;
    width: 190px;
    background-color: rgb(221, 218, 19);

  }
  #section8{
    
    line-height: 250px;
    width:190px;
    background-color: orange;

  }
  #section9{
    line-height: 150px;
    background-color: blue;
    width: 760px;
  }
}