#container {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header header header"
    "mainB mainB mainB mainB"
    "mainC mainC mainC mainC"
    "mainD mainD mainD mainD"
    "leftSideE leftSideE rightSideF rightSideF"
    "leftSideG leftSideG rightSideH rightSideH"
    "footer footer footer footer";
}